/*-------------Overall-------------*/
* {
  padding: 0;
  margin: 0;
}

/*-------------Game Container-------------*/
#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}

/*-------------Character Unit-------------*/
#character {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  position: relative;
  top: 440px;
  left: 190px;
  z-index: 99999;
}

/*-------------Blocks-------------*/
.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

/*-------------Holes-------------*/
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}