/*-------------Overall-------------*/
* {
  padding: 0;
  margin: 0;
}

/*-------------Game Container-------------*/

/*-------------Title-------------*/

h3 {
 
}

/*-------------Score-------------*/

.score-box {
  
}

.game-container {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  background-color: rgb(160, 160, 160);
  overflow: hidden;
}

/*-------------Character Unit-------------*/
#character {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  top: 440px;
  left: 190px;
  z-index: 1;
}

/*-------------Blocks-------------*/
.block {
  width: 400px;
  height: 20px;
  background-color: rgb(66, 65, 65);
  position: relative;
  top: 100px;
  margin-top: -20px;
}

/*-------------Holes-------------*/
.hole {
  width: 40px;
  height: 20px;
  background-color: rgb(160, 160, 160);
  position: relative;
  top: 100px;
  margin-top: -20px;
}
